!$HOME/.Xresources
URxvt.preeditType:Root
!!调整此处设置输入法
URxvt.inputMethod:fcitx
!!颜色设置
URxvt.depth:32
!!中括号内数表示透明度
URxvt.inheritPixmap:true
URxvt.shading: 20
!! URxvt.background:#000000
URxvt.background:black
URxvt.foreground:#ffffff
URxvt.colorBD:Gray95
URxvt.colorUL:Green
URxvt.color1:Red2
URxvt.color4:RoyalBlue
URxvt.color5:Magenta2
URxvt.color8:Gray50
URxvt.color10:Green2
URxvt.color12:DodgerBlue
URxvt.color14:Cyan2
URxvt.color15:Gray95
!!URL操作
URxvt.urlLauncher:luakit
URxvt.matcher.button:1
Urxvt.perl-ext-common:matcher
!!滚动条设置
URxvt.scrollBar:False
URxvt.scrollBar_floating:False
URxvt.scrollstyle:plain
!!滚屏设置
URxvt.mouseWheelScrollPage:True
URxvt.scrollTtyOutput:False
URxvt.scrollWithBuffer:True
URxvt.scrollTtyKeypress:True
!!光标闪烁
URxvt.cursorBlink:True
URxvt.saveLines:3000
!!边框
URxvt.borderLess:False
!!字体设置
Xft.dpi:96
URxvt.font:xft:DejaVu Sans Mono:pixelsize=12
URxvt.boldfont:xft:WenQuanYi Zen Hei Mono:pixelsize=12
URxvt.letterSpace:-2.5
! Tab set
URxvt.perl-ext-common: default,tabbed,matcher
!URxvt.tabbed.tab-fg: 12
!URxvt.tabbed.tab-bg: 0
!URxvt.tabbed.tabbar-fg: 4
XTerm*utf8Title:true
XTerm*cjkWidth:true
XTerm*faceName:DejaVu Sans Mono:pixelsize=12
XTerm*faceNameDoublesize:WenQuanYi Zen Hei Mono:pixelsize=13
xterm*termName: xterm-256color
! Xterm settings  
! copy & paste  
XTerm*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)  
! scrollbar  
XTerm*scrollBar: true  
XTerm*rightScrollBar: true  
XTerm*SaveLines: 4096  
